{
  "parser": "typescript",
  "semi": true,
  "doubleQuotes": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "jsxBracketSameLine": false,
        "jsxSingleQuote": false,
        "parser": "typescript",
        "quoteProps": "as-needed",
        "singleQuote": false,
        "trailingComma": "all",
        "printWidth": 100
      }
    }
  ]
}